@import url("https://fonts.googleapis.com/css2?family=Average&family=Raleway:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;

}

.header__buy {
  background-color: rgb(14, 164, 135);
  color: white;
  font-family: 'Public Sans', sans-serif;

  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: space-between;
  padding: 5px 100px 5px 100px;
  align-items: center;
}

.header__buy a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.buy__currency {
  display: flex;
  gap: 5px;
}
.flags {
  display: flex;
  gap: 5px;
}

.flags img {
  width: 25px;
  height: 25px;
}

#currency {
  width: 55px;
  height: 30px;
  background-color: rgba(249, 249, 249, 0);
  border: 0px;
  color: white;
}
#idioms {
  width: 70px;
  height: 30px;
  background-color: rgba(249, 249, 249, 0);
  border: 0px;
  color: white;
}

.header__two {
  padding-top: 20px;
  display: flex;
  font-family: 'Public Sans', sans-serif;

  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.bar__icons {
  display: flex;
}

.search__bar {
  display: flex;
}

.search__bar button {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(237, 237, 237);
  width: 45px;
  height: 45px;
}

.search__bar #location__ico {
  background-color: rgb(244, 244, 252);
  border-radius: 3px;
  padding: 2px;
  color: grey;
  cursor: pointer;
}
.search__bar #search {
  width: 550px;
  height: 45px;
  border: 1px solid rgb(225, 225, 225);
}

.search__bar #search__button {
  background-color: rgb(250, 160, 65);
  color: white;
  border-radius: 0px 5px 5px 0px;
  width: 60px;
  height: 45px;
  cursor: pointer;
}

.bar__icons #phone,
.bar__icons #favorite,
.bar__icons #cart {
  color: rgb(93, 93, 93);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  padding: 0px 10px 0px 10px;
  border-right: 1px solid rgb(187, 187, 187);
  cursor: pointer;
}

.bar__icons #account {
  color: rgb(93, 93, 93);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  padding: 0px 10px 0px 10px;
}
.kart {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 3px;
}

.fast,
.dot {
  color: rgb(14, 164, 135);
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0px;
}

.two__logo img{
  display: flex;
  width: 150.65px;
  height: 26.863px;
}

.header__nav {
  padding-top: 20px;
  display: flex;
  font-family: 'Public Sans', sans-serif;

  padding-left: 100px;
  padding-right:100px;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
.header__nav nav {
  display: flex;
  gap: 50px;
  font-size: 16px;
  padding-left: 20px;
}

.header__nav li {
  display: flex;
  color: black;
  font-family: 'Public Sans', sans-serif;

  font-weight: 500;
  cursor: pointer;
}

.header__nav #all__category {
  display: flex;
  background-color: rgb(14, 164, 135);
  border: 0px;
  padding: 26.950px 13.650px;
  width: 207.550px;
  height: 51.300px;
  font-family: "Public Sans",sans-serif;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 5px;
  flex-shrink: 0px;
  font-size: 16px;
  cursor: pointer;
}

.button__search {
  margin-right: 20px;
}
.header__nav button.light {
  display: flex;
  background-color: rgba(19, 209, 171, 0.315);
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(14, 164, 135);
  cursor: pointer;
}

.main__big {
  grid-area: big;
}
.main__small__1 {
  grid-area: smal1;
}

.main__small__2 {
  grid-area: smal2;
}
.section__off {
  display: grid;
  grid-template:
    "big   big   smal1"
    "big   big   smal2";
    padding: 0px 100px 0px 100px;
    gap: 23px 30px;
    padding-top: 30px;
 
}

.buy__text{
  color: white;
}

.offer__tittle{
  padding-bottom: 5px;
  padding-left: 2px;
}

span .span__off0{
  background: rgb(255, 82, 83);
  background: linear-gradient(90deg, rgba(255,0,0,0.14607841427586654) 0%, rgba(240,0,0,0) 95%);
  padding: 5px;
  font-size: 18;
  border-radius: 100px;
  color: rgb(255, 29, 29);

}
.h1__text{
  color: rgb(37, 34, 29);
  font-size: 32px;
  word-wrap: break-word;
  font-weight: 500;
}
.high__light{
  color: rgb(14, 164, 135);
  font-weight: 700;
  margin-bottom: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.shop__now{
  margin-top: 10px;
  background-color: rgb(255, 82, 83);
  border: 0px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  font-style: bold;
  border-radius: 10px;
}

.main__big{
  display: flex;
  width: 850.750px;
  height: 536.650px;
  background-image: url('/imgs/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}



.big__text{
  display: flex;
  /* width: 200px; */
  float: left;
  position: absolute;
  width: 400px;
  height: 543px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;

}

.main__small__1 {
  width: 394.362px;
  height: 256.325px;
  display: flex;
  background-image: url('/imgs/2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.small__text{
  display: flex;
  /* width: 200px; */
  float: left;
  position: absolute;
  width: 250px;
  height: 190px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
}
 .small__off{
  color: rgb(255, 79, 79);
  font-size: 42px;
  font-weight: 500;
  padding-bottom: 5px;
}

.test{
  color: rgb(255, 79, 79);
  font-size: 18px;
}

.small__section {
  display: flex; 
  align-items: center;
  padding: 0px 100px 0px 100px;
}

.small__header1{
  color: rgb(14, 164, 135);
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 5px;
}

.small__p {
  color: grey;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
}

.small__text button{
  border: 0px;
  position:absolute;
  top: 180px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0);
  font-size: 18px;
  cursor: pointer;
}


.main__small__2 {
  width: 394.362px;
  height: 256.325px;
  display: flex;
  background-image: url('/imgs/3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  
}

.small__header2{
  color: rgb(255, 79, 79);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

.small__text2{
  display: flex;
  /* width: 200px; */
  float: left;
  position: absolute;
  width: 220px;
  height: 190px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
}

.small__text2 button{
  border: 0px;
  position:absolute;
  top: 180px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0);
  font-size: 18px;
  cursor: pointer;
}

.small__section {
  padding-top:35px;
  display: flex;
  gap:40px;

}

.main__small__3 {
  width: 335.362px;
  height: 256.325px;
  display: flex;
  background-image: url('/imgs/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}


.main__small__4 {
  width: 394.362px;
  height: 256.325px;
  display: flex;
  background-image: url('/imgs/5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  
}


.main__small__5 {
  width: 394.362px;
  height: 256.325px;
  display: flex;
  background-image: url('/imgs/6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}


